<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

##Create a markdown cell with title of the notebook 
# Data Science Ecosystem

##Introduction

In this notebook, Data Science Tools  and Ecosystem are summarized

**Objectives**
-Create a Jupyter Notebook with markdown and code cells
-List examples of languages, libraries and tools used in Data Science
-Share your Jupyter Notebook publicly on GitHub

##Create a markdown cell to list data science languages

Some of the popular languages Data scientists used are:

    1. Python
    2. R
    3. Java

##Create a markdown cell to list Data Science libraries

Some of the commonly libraries used by Data scientists include:
    
    1. Pandas
    2. NumPy
    3. TensorFlow

##Create a markdown cell with a table of Data science Tools

|Data science Tools|
--------------------
|R Studio|
|Apache Spark|
|Apache Hadoop|

##Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in python

In [4]:
#This is a simple arithmetic expression to multiply then add integer (3*4)+5
(3*4)+5

17

In [15]:
#Create a code cell to convert minutes in hours
#This will convert 200 minutes to hours by diving by 60
hour=200
minute=200//60
print(minute,"minutes")

3 minutes

## Author

Dofontien Kossi Godwin KOTIN